
.grid-container {
	display: grid;
	grid-template-rows:  800px 50px 100px 20px; /*header, nav, body*/
	height: 100vh;
		
	
}

.container {
	height: 100vh;
	background-color: #99b377;
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	
	
}


/*footer code*/



body {
	
	margin: 0;


}

header{
	background-color: green;
	height: 800px;
	
}




/*All the sections for home page*/

#section1 {
	background-color: white;
	height: 500px;
	
}

#section2 {
	background-color: #0e015c;
	height: auto;
}



#section3 {
	background-color: white;
	height: auto;
	
}

.footer {
	height: 200px;
	background-color: #eae6ea;
	
}



/*Cards*/

.wrapper {
	padding: 10px 10%;
	
}

#card-area {
	padding: 50px 0;	
	
}

.box-area{
	display: grid;
	grid-gap: 40px;
	margin-top: 50px;

	
}

.overlay h3 {
	color: white;	
	
}

.overlay p {
	color: white;	
	
}

.box{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);

	
}

.box img{
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
	width: 200px;
	height: 200px;
	
}

.overlay{
	height: 0;
	width: 100%;
	background: linear-gradient(transparent, #000 58%);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
	
}


.overlay a{
	margin-top: 10px;
	color: #262626;
	text-decoration: none;
	font-size: 14px;
	background: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 5px 
	
}

.boxLhover img{
	transform: scale(1.2);	
}

.box:hover .overlay{
	height: 100%; 	
}

.imgbox {
	background-color: white;
	width: 500px;
	height: 300px;
	float: right;
	margin-top: -500px;
	margin-right: 100px;
	
}


.imgbox2 {
	background-color: white;
	width: 500px;
	height: 300px;
	float: left;
	margin-top: -450px;
	margin-left: 70px;
	
}



/*Infinite slider*/



/*texts*/
h1 {
	text-align: center;
	font-size: 50px;
	
}

#section2 h1 {
	color: white;
	text-align: left;
	padding-top: 100px;
	margin-left: 70px;
	
}

#section2 p {
	text-align: left;
	color: white;
	font-size: 14px;
	margin-left: 30px;
	margin-bottom: 200px;
	
	
	
}

h2 {
	font-size: 50px;
	color: yellow;
	text-align: center;
	
}

.pbox {
	width: 600px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #0e015c;
}


#section2 .pbox2 p{
	text-align: right;
}


.pbox2 {
	  width: 600px;
	  padding: 40px;
	  box-sizing: border-box;
	  background-color: #0e015c;
	margin-left: 700px;
	

}




.row{
	display: flex;
	height: 75%;
	align-items: center;
}

.col{ 
	flex-basis: 50%;
}
.card {
	width: 300px;
	height: 350px;
	display: inline-block;
	border-radius: 50px; /* card corners */
	padding: 15px 25px; /* card text */
	box-sizing: border-box;
	cursor: pointer;
	margin: 20px 20px; /* space between the cards*/
	background-position: center;
	background-size: cover;
	margin-right: 40px; /* spacing*/
	transition: transform 0.5;
}

.card1 {
	background-color: black; /* note - create a canva image for each card*/
	
}

.card2 {
	background-color: black; /* note - create a canva image for each card*/
	
}

.card3 {
	background-color: black; /* note - create a canva image for each card*/
	
}

.card4 {
	background-color: black; /* note - create a canva image for each card*/
	
}

.card:hover{
	transform: translateY(-10px);
		
}